---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Container from "../../components/container/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { getFolder } from "../../lib/imagekit";

export const getStaticPaths: GetStaticPaths = async () => {
	const entries = await getCollection("art");

	return entries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
};

export interface Props {
	entry: CollectionEntry<"art">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const images = await getFolder(entry.slug);
---

<Layout title={entry.data.title}>
	<Container class="mt-20 sm:mt-28">
		<article class="prose prose-zinc max-w-3xl dark:prose-invert">
			<h1 class="sm:text-5xl">{entry.data.title}</h1>
			<Content />
		</article>

		<div class="mt-16 columns-2 gap-4 md:columns-3 md:gap-6">
			{
				images.map((image) => (
					<div class="mb-4 overflow-hidden rounded-lg dark:ring-1 dark:ring-zinc-800 md:mb-6">
						<Image
							src={image.url}
							width={image.width}
							height={image.height}
							alt={image.name}
							class="h-full w-full object-cover hover:cursor-pointer"
						/>
					</div>
				))
			}
		</div>
	</Container>
</Layout>

<script>
	import { registerImages } from "../../lib/lightbox";

	registerImages();
</script>
